<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tbl_dynamic_password">
  <resultMap id="BaseResultMap" type="com.i2shopping.i2work.operation.core.dynamicPassword.model.DynamicPassword">
    <result column="id" property="id" jdbcType="VARCHAR"/>
    <result column="operation_date" property="operationDate" jdbcType="TIMESTAMP"/>
    <result column="employee_id" property="employeeId" jdbcType="VARCHAR"/>
    <result column="password" property="password" jdbcType="VARCHAR"/>
    <result column="effective_sec" property="effectiveSec" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List">id, operation_date, employee_id, password, effective_sec</sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">select 
    <include refid="Base_Column_List"/> from tbl_dynamic_password where id = #{id:VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">delete from tbl_dynamic_password where id = #{id:VARCHAR}</delete>
  <insert id="insert" parameterType="com.i2shopping.i2work.operation.core.dynamicPassword.model.DynamicPassword">insert into tbl_dynamic_password (id, operation_date, employee_id, password, effective_sec) values (#{id:VARCHAR},#{operationDate:TIMESTAMP},#{employeeId:VARCHAR}, #{password:VARCHAR},#{effectiveSec:VARCHAR})</insert>
  <insert id="insertSelective" parameterType="com.i2shopping.i2work.operation.core.dynamicPassword.model.DynamicPassword">insert into tbl_dynamic_password 
    <trim prefix="("> 
      <if test="id != null">id ,</if>  
      <if test="operationDate != null">operation_date ,</if>  
      <if test="employeeId != null">employee_id ,</if>  
      <if test="password != null">password ,</if>  
      <if test="effectiveSec != null">effective_sec ,</if> )
    </trim>  
    <trim prefix="values("> 
      <if test="id != null">#{id:VARCHAR} ,</if>  
      <if test="operationDate != null">#{operationDate:TIMESTAMP} ,</if>  
      <if test="employeeId != null">#{employeeId:VARCHAR} ,</if>  
      <if test="password != null">#{password:VARCHAR} ,</if>  
      <if test="effectiveSec != null">#{effectiveSec:VARCHAR} ,</if> )
    </trim> 
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.i2shopping.i2work.operation.core.dynamicPassword.model.DynamicPassword">update tbl_dynamic_password 
    <trim prefix="set"> 
      <if test="operationDate != null">employee_id = #{employeeId:VARCHAR} ,</if>  
      <if test="employeeId != null">password = #{password:VARCHAR} ,</if>  
      <if test="password != null">password = #{password:VARCHAR} ,</if>  
      <if test="effectiveSec != null">effective_sec = #{effectiveSec:VARCHAR} ,</if> 
    </trim> where id = #{id:VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.i2shopping.i2work.operation.core.dynamicPassword.model.DynamicPassword">update tbl_dynamic_password set operation_date = #{operationDate:TIMESTAMP} employee_id = #{employeeId:VARCHAR} password = #{password:VARCHAR} effective_sec = #{effectiveSec:VARCHAR} where id = #{id:VARCHAR}</update>
  <select id="selectByEmployeeId" parameterType="java.lang.String" resultMap="BaseResultMap">select a.* from tbl_dynamic_password a where not exists( select 1 from tbl_dynamic_password b where b.employee_id=a.employee_id and b.operation_date&gt;a.operation_date) and a.employee_id=#{value:VARCHAR}</select>
</mapper>
