<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd" >
<sqlMap namespace="tbl_sensitivity_record" >
  <resultMap id="BaseResultMap" class="com.i2shopping.i2work.operation.core.sensitivityRecord.model.SensitivityRecord" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="operation_date" property="operationDate" jdbcType="TIMESTAMP" />
    <result column="employee_id" property="employeeId" jdbcType="VARCHAR" />
    <result column="operation_url" property="operationUrl" jdbcType="VARCHAR" />
    <result column="property" property="property" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" class="com.i2shopping.i2work.operation.core.sensitivityRecord.model.SensitivityRecord" extends="BaseResultMap" >
    <result column="params" property="params" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, operation_date, employee_id, operation_url, property
  </sql>
  <sql id="Blob_Column_List" >
    params
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterClass="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_sensitivity_record
    where id = #id:VARCHAR#
  </select>
  <delete id="deleteByPrimaryKey" parameterClass="java.lang.String" >
    delete from tbl_sensitivity_record
    where id = #id:VARCHAR#
  </delete>
  <insert id="insert" parameterClass="com.i2shopping.i2work.operation.core.sensitivityRecord.model.SensitivityRecord" >
    insert into tbl_sensitivity_record (id, operation_date, employee_id, 
      operation_url, property, params
      )
    values (#id:VARCHAR#, #operationDate:TIMESTAMP#, #employeeId:VARCHAR#, 
      #operationUrl:VARCHAR#, #property:VARCHAR#, #params:LONGVARCHAR#
      )
  </insert>
  <insert id="insertSelective" parameterClass="com.i2shopping.i2work.operation.core.sensitivityRecord.model.SensitivityRecord" >
    insert into tbl_sensitivity_record
    <dynamic prepend="(" >
      <isNotNull prepend="," property="id" >
        id
      </isNotNull>
      <isNotNull prepend="," property="operationDate" >
        operation_date
      </isNotNull>
      <isNotNull prepend="," property="employeeId" >
        employee_id
      </isNotNull>
      <isNotNull prepend="," property="operationUrl" >
        operation_url
      </isNotNull>
      <isNotNull prepend="," property="property" >
        property
      </isNotNull>
      <isNotNull prepend="," property="params" >
        params
      </isNotNull>
      )
    </dynamic>

    <dynamic prepend="values(" >
      <isNotNull prepend="," property="id" >
        #id:VARCHAR#,
      </isNotNull>
      <isNotNull prepend="," property="operationDate" >
        #operationDate:TIMESTAMP#,
      </isNotNull>
      <isNotNull prepend="," property="employeeId" >
        #employeeId:VARCHAR#,
      </isNotNull>
      <isNotNull prepend="," property="operationUrl" >
        #operationUrl:VARCHAR#,
      </isNotNull>
      <isNotNull prepend="," property="property" >
        #property:VARCHAR#,
      </isNotNull>
      <isNotNull prepend="," property="params" >
        #params:LONGVARCHAR#,
      </isNotNull>
      )
    </dynamic>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterClass="com.i2shopping.i2work.operation.core.sensitivityRecord.model.SensitivityRecord" >
    update tbl_sensitivity_record
    <dynamic prepend="set" >
      <isNotNull prepend="," property="operationDate" >
        operation_date = #operationDate:TIMESTAMP#,
      </isNotNull>
      <isNotNull prepend="," property="employeeId" >
        employee_id = #employeeId:VARCHAR#,
      </isNotNull>
      <isNotNull prepend="," property="operationUrl" >
        operation_url = #operationUrl:VARCHAR#,
      </isNotNull>
      <isNotNull prepend="," property="property" >
        property = #property:VARCHAR#,
      </isNotNull>
      <isNotNull prepend="," property="params" >
        params = #params:LONGVARCHAR#,
      </isNotNull>
    </dynamic>
    where id = #id:VARCHAR#
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterClass="com.i2shopping.i2work.operation.core.sensitivityRecord.model.SensitivityRecord" >
    update tbl_sensitivity_record
    set operation_date = #operationDate:TIMESTAMP#,
      employee_id = #employeeId:VARCHAR#,
      operation_url = #operationUrl:VARCHAR#,
      property = #property:VARCHAR#,
      params = #params:LONGVARCHAR#
    where id = #id:VARCHAR#
  </update>
  <update id="updateByPrimaryKey" parameterClass="com.i2shopping.i2work.operation.core.sensitivityRecord.model.SensitivityRecord" >
    update tbl_sensitivity_record
    set operation_date = #operationDate:TIMESTAMP#,
      employee_id = #employeeId:VARCHAR#,
      operation_url = #operationUrl:VARCHAR#,
      property = #property:VARCHAR#
    where id = #id:VARCHAR#
  </update>
</sqlMap>